/***/
function doPost(e) {
  var sheetTarget = 'datatorun';
  var gs = SpreadsheetApp.getActiveSpreadsheet();
  var sh = gs.getSheetByName(sheetTarget);
  var lastRow = sh.getLastRow();
  var jsonString = e.postData.contents;
  json = JSON.parse("{\""+replaceAll(replaceAll(jsonString,"=","\": \""),"&","\",\"")+"\"}");
  Update_or_Insert(sh, json, lastRow)
}

function Update_or_Insert(sh, json, lastRow) {
  var database = sh.getDataRange().getValues();
  var newData = [];
  var k = database.length
    var row = json.id;
    var laplai = false;
    for (var j = database.length; j > 0 ; j=j-1 ) {
      if(row == database[j-1][0]
       ){
        if(json.last_update != database[j-1][4]){
          save(sh, json, j-1);
        }
        laplai = true;
      }
    }
    if (!laplai) {
    newData.push(row);
    }
  if(newData[0] != null) {
    save(sh, json, lastRow);
};
function timeConverter(UNIX_timestamp){
  var a = new Date(UNIX_timestamp * 1000);
  // var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
  // var year = a.getFullYear();
  // var month = months[a.getMonth()];
  // var date = a.getDate();
  // var hour = a.getHours();
  // var min = a.getMinutes();
  // var sec = a.getSeconds();
  // var time = date + '/' + month + '/' + year + ' ' + hour + ':' + min + ':' + sec ;
  return a;
};

function replaceAll(string, search, replace) {
  return string.split(search).join(replace);
};

